//-*- Jade -*-
//-*- coding: utf-8 -*-
//-
//- Alec Aivazis <alec@aivazis.com>
//- 
//- (c) 2014-2015 all rights reserved
//-

// about me

extends index

- load staticfiles

block title
    | About Me

block content
    div(style="text-align: center")
        img.extra.smallextra(src="{% static 'images/me.png' %}" style="border-radius: 50%; width: 40%;")
    p Hey there! Thanks for coming to my corner of the internet.
    p.
        I design feature-rich applications that emphasize usability 
        and specialize in turning small glimmers of ideas into fully fledged products. 
    p Please feel free to send me <b>any</b> ideas you might want to develop into something real - the cost of a good developer shouldn't be what's stopping you.

    h1 Languages I am experienced with
    ul#languages
        li
            img(src="{% static 'images/python_short.png'%}")
        li
            img(src="{% static 'images/javascript_short.png'%}")
        li
            img(src="{% static 'images/go_short.png'%}")
        .cf

    h1 Backends I use in my own projects
    ul#frameworks
        li 
            img(src="{% static 'images/django.png'%}")
        li 
            img(src="{% static 'images/node.png'%}")
        .cf

    h1 Tools/Packages that I love
    ul#tools

        li 
            img(src="{% static 'images/coffee.png'%}")
        li 
            img(src="{% static 'images/stylus.png'%}")
        li 
            img(style="margin-top: 20%" src="{% static 'images/jade.png'%}")
        li 
            img(src="{% static 'images/angular.png'%}")
        li 
            img(style="margin-top: 10%" src="{% static 'images/underscore.png'%}")
        li 
            img(style="margin-top: 10%" src="{% static 'images/react.png'%}")


//- end of file