//-*- Jade -*-
//-*- coding: utf-8 -*-
//-
//- Alec Aivazis <alec@aivazis.com>
//- 
//- (c) 2014-2015 all rights reserved
//-

// about me

extends index

- load staticfiles

block articleClass
    | about

block title
    | About Me

append body
    section#aboutInfo
        include bio
        .extra
            | this is extra

block content
    

    p.
        Welcome - thanks for coming to my website! 
    p.
        I am a fourth year physics major at UCSB who enjoys designing feature-rich applications that focus on usability. 
        I have a lot of experience designing applications for a wide variety of clients from farmers to schools
        and love turning small glimmers of ideas into fully fledged products. 
    p Please feel free to send me <b>any</b> ideas you might want to develop into something real - the cost of a good developer shouldn't be what's stopping you.

    h1 Languages I am experienced with
    ul#languages
        li
            img(src="{% static 'images/python_short.png'%}")
        li
            img(src="{% static 'images/javascript_short.png'%}")
        li
            img(src="{% static 'images/go_short.png'%}")
        .cf

    h1 Frameworks I have used
    ul#frameworks
        li 
            img(src="{% static 'images/django.png'%}")
        li 
            img(src="{% static 'images/node.png'%}")
        .cf

    h1 Tools/Packages that I love
    ul#tools

        li 
            img(src="{% static 'images/coffee.png'%}")
        li 
            img(src="{% static 'images/stylus.png'%}")
        li 
            img(src="{% static 'images/jade.png'%}")
        li 
            img(src="{% static 'images/angular.png'%}")
        li 
            img(src="{% static 'images/underscore.png'%}")


//- end of file