//-*- Jade -*-
//-*- coding: utf-8 -*-
//-
//- Alec Aivazis <alec@aivazis.com>
//- 
//- (c) 2014-2015 all rights reserved
//-

// my portfolio

extends index

- load staticfiles


append js
    script(src="{% static 'scripts/jquery.magnific-popup.js' %}")
    script(src="{% static 'scripts/projects.coffee' %}", type="text/coffeescript")

append css
    link(rel="stylesheet" href="{% static 'styles/magnific-popup.css' %}")

block title
    | My Projects

block content
    section#portfolio
        for project in view.projects
            a.imageLink(href="{% static 'uploads/' %}{{project.screenshot.url}}", data-name="{{project.title}}")
                .title
                    span {{project.title}}
                img.portfolioItem(src="{% static 'uploads/' %}{{project.preview.url}}")


//- end of file