//-*- Jade -*-
//-*- coding: utf-8 -*-
//-
//- Alec Aivazis <alec@aivazis.com>
//- 
//- (c) 2014-2015 all rights reserved
//-

// my portfolio

extends index

- load staticfiles


append js
    script(src="{% static 'scripts/projects.coffee' %}", type="text/coffeescript")

block title
    | {{object.title}}

block content
    .project_details
        .project_description
            | {{object.description}}
        if object.link
            a(href="{{object.link}}" target="_blank")
                button.live_demo view live
        if object.github
            a(href="{{object.github}}" target="_blank")
                button.github github

        for screenshot in object.screenshots.all
            img.project_screenshot(src="{% static 'uploads/' %}{{screenshot.file.url}}")

//- end of file