//-*- Jade -*-
//-*- coding: utf-8 -*-
//-
//- Alec Aivazis <alec@aivazis.com>
//- 
//- (c) 2014-2015 all rights reserved
//-

// my portfolio

extends index

- load staticfiles


block title
    | My Projects

block content
    section#portfolio
        for project in view.projects
            img.portfolioItem(src="{% static 'uploads/' %}{{project.preview.url}}", data-name="{{project.title}}")
        .cf


//- end of file