// styles that are specific to the blog view
// author: alec aivazis

@import 'jeet'
@import 'colors'

#blog
    padding-top: 1.5%

.post_date
    color: $medium
    color: #BABABA


.postPreview

    margin-bottom: 10%

    h1
        margin: 0

    header
        margin-bottom: 2%

    .date
        span(1/6)

    .title
        span(5/6)
        padding: 10px
        padding-top: 0
        padding-right: 15px

    .body
        margin: 0 5%

    a, a:visited

        color: #454640

        &:hover, &:hover h1
            color: $highlight

    footer
        font-size: 12px
        margin: 4% 7%

        .readMore
            span(1/2)
            font-size: 14px

        section
            span(1/2)
            text-align: right

        i
            margin-right: 2%

        &:hover
            darken($highlight, 40%)
    
        .tagCloud

            a
                margin-right: 5px

            .tag
                color: black

                &:hover
                    color: $highlight

#post

    h1 
        text-align: left

        &.title
            text-align: center
            font-size: 30px

    h2
        margin-bottom: 1%

    p
        margin: 20px 5%

    blockquote
        blockquote: $highlight
        margin-left: 5%

    code
        padding: 5px
        background:#CDD3CC 

    img
        margin: 20px

    a, a:visited
        color: black
        text-decoration: underline

        &:hover
            color $highlight

    div
        text-align: center

        pre
            text-align: left
            margin: 5%
            padding: 2%
            background: $lightest
            border: 1px solid $medium
            border-radius: 3px

#comments
    a, a:visited
        color: $medium


// responsive handlers


+below($lowerBreakPoint)
    .tagCloud
        display: none



// end of file