// the color pallette used by various files

$upperBreakPoint = 750px
$lowerBreakPoint = 475px

// color pallette
$darker = #222222
$dark = #2C2C2C
$medium = #8A8D82
$light = #E2E2E2
$highlight = #008AB4

// end of file