// -*- Stylus -*-
// -*- coding: utf-8 -*-
//
// Alec Aivazis <alec@aivazis.com>
// 
// (c) 2014-2015 all rights reserved
//

// this file describes the default style for homepage

// color pallette
$darker = #222222
$dark = #2C2C2C
$light = #E2E2E2
$highlight = #008AB4

$upperBreakPoint = 750px
$lowerBreakPoint = 475px


@import 'jeet'
@import 'axis'
@import 'rupture'


// style
*
  box-sizing: border-box


.cf:after 
    visibility: hidden
    display: block
    font-size: 0
    content: " "
    clear: both
    height: 0
    
.cf  display: inline-block
/* start commented backslash hack \*/
* html .cf  height: 1%
.cf display: block


body
  margin: 0
  padding: 0
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 

h1
  color: #929292
  font-size: 1.5em
  margin-top: 5%


// the about me sidebar should look just the same
aside, #aboutInfo
  background: $dark
  span(1/3)
  color: white
  padding: 3%
  text-align center
  overflow: auto
  padding-bottom: 50px

  position: fixed
  top: 0
  bottom: 0
  left: 0


  min-height: 600px

  img
    margin: 30px 0
    width: 95%
    border-style: none
    color: $dark

  section
    font-size: 26px
    width: 100%
    text-align: left

    &.content
      height: 100%

    &.title
      border-bottom: 1px solid #bebebe
      padding-bottom: 20px
   
    p
      font-size: 18px 

  footer
    absolute: bottom 20px left 0
    width: 100%
    text-align: center

    a, a:visited
      font-size: 48px
      color: #BCBCBC

      &:hover
        color: $highlight

      &:nth-child(1)
        margin-right: 23px

      &:nth-child(2)
        margin-right: 20px
  
.extra
  display: none

    
article
  span(2/3)
  overflow: auto
  background: $light
  padding: 20px

  position: fixed
  top: 0
  bottom: 0
  right: 0
  padding-bottom: 30px


  header

    margin-bottom: 40px

    button
      span(1/6)
      background: none
      border: none
      outline: 0
      font-size: 20px
      
    section
      span(1/6)
      text-align: right
      font-size: 18px
      
      &.title
        span(2/3)
        text-align: center

    a, a:visited
      color: #929292
      text-decoration: none
      display: none
  
  &.about

      img
        width: 100%

    #languages 
        padding-left: 10%
        li
            width: 30%
            margin-right: 3%

    #frameworks 
        li

            &:nth-child(2)
              padding-left: 5%

             width: 45%

    #tools li
        col(1/3, cycle: 3)

    ul
        display: table
        border-spacing: 20px
        padding-left: 0

      li
        display: table-cell
        vertical-align: middle

        img
          width: 100%


#navigation
  z-index: 10
  background: rgba(103,103,103,0.7)
  position: fixed
  left: 0
  right: 0
  top: 0
  bottom: 0
  display: none
  color: white

  .close
    position: fixed
    right: 68%
    top: 2.5%
    cursor: pointer

    &:hover
      color: $highlight

  i
    margin-right: 20px


  a, a:visited
    color: white
    text-decoration: none

    &:hover
      color: $highlight

  ul
    span(1/3)
    background: black
    height: 100%
    padding: 0
    padding-top: 50px
    margin-top: 0

    li
      list-style: none
      padding: 15px
      border-bottom: 2px solid rgb(103,103,103)

  

#portfolio
    
    text-align: left
    padding: 5px

    img
        inline-block()
        margin-bottom: 3%
        col(1/3, cycle: 3)
        box-shadow: 5px 5px 5px #B6B6B6
        border-radius: 10px


#splash
  height: 100%
  text-align: center
  position: relative
  min-height: 525px

  background-position: center bottom
  background-repeat: repeat-x
  background-size: auto 100%
  background-color: $dark

  a, a:visited
    color: white

  img
    position: absolute
    bottom: 45%
    align(horizontal)

  section
    absolute: bottom 30%
    color: white
    text-align: center
    width: 100%
    font-size: 32px

  nav
    position: absolute
    left: 0
    right: 0
    bottom: 10%
    text-align: right
    padding: 20px
    background: $darker

    font-size: 24px

    a, a:visited
      margin-right: 20px
      text-decoration: none

      &:hover
        color: $highlight



// responsive handlers

+below($upperBreakPoint)
  aside
    display: none

  article
    cf()
    width: 100%

    &.about
      span(2/3)

  header a
    display: block !important

  .extra
    inline-block()


+below($lowerBreakPoint)

  #portfolio img
    col(1/2, cycle:2, uncycle:3)

  #navigation
    ul
      cf()
      width: 100%
      text-align: left

      li
        padding-left: 20%

    .close
      right: 5%

        


// end of file
