//-*- Jade -*-
//-*- coding: utf-8 -*-
//
// Alec Aivazis <alec@aivazis.com>
// 
// (c) 2014-2015 all rights reserved
//

// the base html template

- load compress
- load staticfiles

html
  head
    title Alec Aivazis
    meta(name="application-name" content="Alec Aivazis")
    meta(name="author" content="Alec Aivazis")
    meta(name="description" content="This is the homepage for Alec Aivazis.")
    meta(name="keyword" content="software, developper, django, usability, full stack, backend, frontend")
    meta(name="viewport" content="width=device-width, initial-scale=1")

    block head
        
    {% compress css %}
    block css
    link(rel="stylesheet", type="text/css", href="{% static 'thirdparty/normalize.css/normalize.css' %}")
    link(rel="stylesheet", type="text/stylus", href="{% static 'styles/default.styl' %}")
    {% endcompress %}

    {% compress js %}
    block js
    {% endcompress %}

      
  body
    block body
    nav#navigation
        span.close.icon-stack
            i.icon.icon-x.icon-stack-1x
            i.icon.icon-circle-thin.icon-stack-2x
        ul
            a(href="/about")
                li 
                    i.icon.icon-smile
                    | about
            a(href="/projects")
                li 
                    i.icon.icon-doc
                    | my projects
            a(href="/blog")
                li 
                    i.icon.icon-pencil
                    | blog
            a#contact(href="/contact").
                <script>document.getElementById("contact").innerHTML="<n uers=\"znvygb:uv@nvinmvf.pbz\" gnetrg=\"_oynax\"><yv><v pynff=\"vpba vpba-pbagnpg\"></v> pbagnpg zr</yv></n>".replace(/[a-zA-Z]/g,function(c){return String.fromCharCode((c<="Z"?90:122)>=(c=c.charCodeAt(0)+13)?c:c-26);});document.body.appendChild(eo);</script>
                <noscript><span style="unicode-bidi:bidi-override;direction:rtl;"><i class="icon icon-contact"></i>moc.sizavia@ih</span></noscript>

// end of file