//-*- Jade -*-
//-*- coding: utf-8 -*-
//
// Alec Aivazis <alec@aivazis.com>
// 
// (c) 2014-2015 all rights reserved
//

// the base html template

- load compress
- load staticfiles

html
  head
    title Alec Aivazis: Freelance Software Developer and Aspiriting Physicist
    meta(name="application-name" content="Alec Aivazis")
    meta(name="author" content="Alec Aivazis")
    meta(name="description" content="This is the homepage for Alec Aivazis, a fourth year physics major at UCSB who is interested in any sort of freelance project you might have.")
    meta(name="keyword" content="freelance, software, developper, physics, graduate student")

    block head
        
    {% compress css %}
    block css
    link(rel="stylesheet", type="text/stylus", href="{% static 'styles/default.styl' %}")
    {% endcompress %}

    {% compress js %}
    block js
    {% endcompress %}

      
  body
    block body

// end of file