//- the short bio summary includes throughout the page

//- author: alec aivazis

- load staticfiles

a(href="/")
  img.me(src="{% static 'images/me.jpg' %}")
section.title
  | Hi,
  br
  | I'm Alec Aivazis.
section
  p I'm a freelance programmer with experience in a variety of web technologies.
footer
  a(href="http://www.facebook.com/aaivazis")
    i.icon.icon-facebook
  a(href="http://www.github.com/aaivazis")
    i.icon.icon-github
  a(href="{% static 'misc/resume.pdf' %}")
    i.icon.icon-file

//- end of file