//-*- Jade -*-
//-*- coding: utf-8 -*-
//-
//- Alec Aivazis <alec@aivazis.com>
//- 
//- (c) 2014-2015 all rights reserved
//-

// the homepage index

extends base

- load staticfiles
    

append head
  script(src="//use.fonticons.com/f7b7ea2b.js")


append js
  script(src="{% static 'thirdparty/jquery/dist/jquery.js' %}", type="text/javascript")
  script(src="{% static 'thirdparty/underscore/underscore.js' %}", type="text/javascript")

  script(src="{% static 'scripts/core.coffee' %}", type="text/coffeescript")

append body
  aside
    include bio
  article
    block header
      header
        button(onclick="toggleNav()")
          i.icon.icon-bars 
        section.title
          block title
        a(href="/")
          section
            | Alec&nbsp;Aivazis

    block content

  

//- end of file
