//-*- Jade -*-
//-*- coding: utf-8 -*-
//-
//- Alec Aivazis <alec@aivazis.com>
//- 
//- (c) 2014-2015 all rights reserved
//-

extends base

- load staticfiles

block body
    #splash(style="background-image: url({% static 'images/splash.png' %});")
        section Welcome to my playground.
        nav
            a(href="/about") about
            a(href="/projects") projects
            a(href="/blog") blog

//-