//-*- Jade -*-
//-*- coding: utf-8 -*-
//-
//- Alec Aivazis <alec@aivazis.com>
//- 
//- (c) 2014-2015 all rights reserved
//-

extends base

block body
    a(href="/about") about
    a(href="/blog") blog
    a(href="/portfolio") portfolio


//-