//-*- Jade -*-
//-*- coding: utf-8 -*-
//-
//- Alec Aivazis <alec@aivazis.com>
//- 
//- (c) 2014-2015 all rights reserved
//-

// the homepage index

extends index

- load staticfiles


block title
    | Latest Posts

//- end of file