//-*- Jade -*-
//-*- coding: utf-8 -*-
//-
//- Alec Aivazis <alec@aivazis.com>
//- 
//- (c) 2014-2015 all rights reserved
//-

// the detail view of an invidual post
// author: alec aivazis

extends index

- load staticfiles
- load disqus_tags
- load render_as

append css
    link(rel="stylesheet", type="text/stylus", href="{% static 'styles/blog.styl' %}")
    link(rel="stylesheet", href="{% static 'styles/syntax.css' %}")


append head
    script(type="application/ld+json").
        {
            "@context": "http://schema.org",
            "@type": "Article",
            "author": {
                "@type": "Person",
                "name": "Alec Aivazis",
                "image": "//gravatar.com/avatar/6316bcca8f7714d6190bbc111af62b26",
                "url": "http://alec.aivazis.com",
                "sameAs": null,
                "description": null
            },
            "headline": "{{object.title}}",
            "url": "//alec.avazis.com{{object.get_absolute_url}}",
            "datePublished": "{{object.post_date | date:"c"}}",
            "dateModified": "{{object.post_date | date:"c"}}",
            "description": "{{post.body | render_as:post.format |  truncatechars_html:200 | striptags }}"
        }

block title
    .post_date {{object.post_date | date:"F j, o"}}

block content
    #post
        h1.title {{object.title}}
        section 
            | {{object.body | render_as:object.format}}
    #comments
        {% disqus_show_comments %}


// end of file
