//-*- Jade -*-
//-*- coding: utf-8 -*-
//-
//- Alec Aivazis <alec@aivazis.com>
//- 
//- (c) 2014-2015 all rights reserved
//-

// the detail view of an invidual post
// author: alec aivazis

extends index

- load staticfiles


append css
    link(rel="stylesheet", type="text/stylus", href="{% static 'styles/blog.styl' %}")
    link(rel="stylesheet", href="{% static 'styles/syntax.css' %}")


block title
    &nbsp;

block content
    #post
        h1.title {{object.title}}
        section 
            {% autoescape off %}
            | {{object.body_clean}}
            {% endautoescape %}

// end of file
