section.postPreview
    header
        a(href="#")
            h1.title {{post.title}}
        h2.date {{post.post_date | date:"M j, 'y"}}
        .cf
    
    section.body {{post.preview}}
    #readMore
