section.postPreview
    header
        a(href="#")
            h1.title {{post.title}}
        h2.date {{post.post_date | date:"M j, 'y"}}
        .cf
    
    section.body {{post.preview}}
    footer
        a.readMore(href="{{post.get_absolute_url}}")
            i.icon.icon-long-arrow-right
            | Read more
        section.tagCloud
            i.icon.icon-tags
            a.tag(href="#") backend
            a.tag(href="#") django
        .cf
