//- the template for a post preview 
//- author: alec aivazis

section.postPreview
    header
        a(href="{{post.get_absolute_url}}")
            h1.title {{post.title}}
        h2.date {{post.post_date | date:"M j, 'y"}}
        .cf
    
    {% autoescape off %}
    section.body 
        | {{post.body_clean|truncatechars_html:200 }} 
    {% endautoescape %}
    footer
        a.readMore(href="{{post.get_absolute_url}}")
            i.icon.icon-long-arrow-right
            | Read more
        if post.tags.all
            section.tagCloud
                i.icon.icon-tags
                for tag in post.tags.all
                    a.tag(href="{% url 'category_list' tag=tag.name %}") {{tag}}
            .cf


//- end of file