section.postPreview
    header
        a(href="#")
            h1.title {{post.title}}
        h2.date {{post.post_date | date:"M j, 'y"}}
        .cf
    
    section.body {{post.preview}}
    footer
        a.readMore(href="#")
            i.icon.icon-long-arrow-right
            | Read more
        section.tagCloud
            i.icon.icon-tags
            a.tag(href="#") hello
            a.tag(href="#") hello
        .cf
